<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
   <div class="w-full h-screen bg-pink-900">
      <h2> Create Account</h2>
<form class="flex flex-col space-y-4 p-6 max-w-md mx-auto bg-gradient-to-br from-gray-100 to-gray-500 shadow-2xl rounded-2xl border border-gray-300" method="post" action="/register">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="name" name="name">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <input type="submit" name="create account" value="create account" id="">

     </form>
   </div>
</body>
</html>